.city-popup{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
}

/* .add-city-wrap{
    height: 400px;
    width: 400px; 
    background-color: white;
    border-radius: 10px;
} */

/* .add-city-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: orange;
    height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} */

/* .addcity-input{
    border: 2px solid rgb(169, 162, 162);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* .addcity-input input{
    height: 35px;
    width: 70%;
    border: 1px solid rgb(218, 213, 213);
    font-size: 15px;
    border-radius: 5px;
} */

/* .addcity-input input:hover{
    border: 2px solid rgb(54, 162, 224);
    transition-duration: 0.3s;
} */

/* .cities-list{
    height: 275px;
    padding: 10px;
    justify-content: center;
    overflow-y: scroll;
}

.cities-list::-webkit-scrollbar {
    display: none;
} */

/* .cities-list ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(183, 178, 178);
    height: 50px;
    width: 95%;
    margin: 5px auto;
    font-weight: bold;
    border-radius: 5px;
} */

/* .cities-list ul li button{
    font-size: 20px;
    height: 30px;
} */


